# Token API

## Create a token (sign in)

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`email`         | <span class="badge badge-danger">required</span> | String | Account email address
`password`      | <span class="badge badge-danger">required</span> | String | Account password

**Response attributes**

See [Get a user](#get-a-user).

> Request

```http
POST <%= current_page.data.endpoint %>token HTTP/1.1
Content-Type: application/vnd.api+json
```

```json
<%= api_request 'tokens/post_token' %>
```

> Success response

```http
HTTP/1.1 201 Created
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_response 'tokens/post_token' %>
```

> Failure response (incorrect email or password)

```http
HTTP/1.1 401 Unauthorized
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'tokens/post_token_401' %>
```

> Failure response (unconfirmed account)

```http
HTTP/1.1 403 Forbidden
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'tokens/post_token_403' %>
```

This endpoint creates a token (sign in a user).
The returned token should be used for subsequent API calls.

## Delete a token (sign out)

> Request

```http
DELETE <%= current_page.data.endpoint %>token HTTP/1.1
Authorization: Bearer TOKEN
```

> Success response

```http
HTTP/1.1 204 No Content
```

> Failure response

```http
HTTP/1.1 401 Unauthorized
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'tokens/delete_token_401' %>
```

This endpoint deletes a token (sign out a user). After this call, all previously requested tokens are no longer valid.
