# Password API

## Request password reset

This endpoint requests a password reset.
An email containing a link to reset the account password is sent to the user.

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`email`         | <span class="badge badge-danger">required</span> | String | Account email address

<aside class="notice">
  This endpoint will always return a success response, to avoid leaking information about existing users
</aside>

> Request

```http
POST <%= current_page.data.endpoint %>password HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
Content-Type: application/vnd.api+json
```

```json
<%= api_request 'password/post_password' %>
```

> Success response

```http
HTTP/1.1 204 No Content
```

## Reset password

This endpoint will update the account password.

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`resetPasswordToken`         | <span class="badge badge-danger">required</span> | String | Opaque token that was included in the email sent to the user
`password`      | <span class="badge badge-danger">required</span> | String | Account password

**Response attributes**

See [Get a user](#get-a-user).

<aside class="warning">
  An empty <code>id</code> field has to be included in the request.
</aside>

> Request

```http
PATCH <%= current_page.data.endpoint %>password HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
Content-Type: application/vnd.api+json
```

```json
<%= api_request 'password/patch_password' %>
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'password/patch_password' %>
```

> Failure response (invalid reset password token)

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'password/patch_password_422_1' %>
```

> Failure response (password too short)

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'password/patch_password_422_2' %>
```
