# topics API

## Get all topics

> Request

```http
GET <%= current_page.data.endpoint %>topics HTTP/1.1
Accept: application/vnd.api+json
Authorization: Bearer TOKEN
```

> Response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topics' %>
```

This endpoint retrieves all visible topics.

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data. See <a href="#permission-model">Permission model</a> for more information on topic visibility.
</aside>

## Create a topic

> Request

```http
POST <%= current_page.data.endpoint %>topics HTTP/1.1
Content-Type: application/vnd.api+json
```

```json
<%= api_request 'topics/post_topics' %>
```

> Success response

```http
HTTP/1.1 201 Created
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics_422' %>
```

> Failure response

```http
HTTP/1.1 400 Bad Request
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics_400' %>
```

This endpoint creates a topic.

**Request parameters**

Parameter | Description
----------|------------
`name` | <span class="badge badge-danger">required</span> Name of the topic
`description` | Description of the topic
`state` | Access level (See <a href="#permission-model">Permission model</a>), defaults to `public_access`
`template` | Template name used for rendering, defaults to `shower-ows`

<aside class="warning">
  Always include the <code>owner</code> relationship.
</aside>

## Get a topic

> JSON Request

```http
GET <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Accept: application/vnd.api+json
Authorization: Bearer TOKEN
```
> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic' %>
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_user_404' %>
```

> HTML Request

```http
GET <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Content-Type: text/html
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: text/html
```

```html
<%= api_response 'topics/get_topic', :html %>
```

This endpoint retrieves a topic. Response body media type (`Accept` header) determines what kind of data you get: `application/vnd.api+json` retrieves topic metadata, `text/html` retrieves the topic's contents.

**Response parameters**

Parameter | Description
----------|------------
`name` | topic name
`state` | Access level, one of `public_access`, `protected_access`, `private_access`
`description` | topic description
`template` | topic template

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data. See <a href="#permission-model">Permission model</a> for more information on topic visibility.
</aside>

## Update a topic

> JSON Request

```http
PATCH <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Content-Type: application/vnd.api+json
```

```json
<%= api_request 'topics/patch_topic' %>
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic' %>
```

> Failure response

```http
HTTP/1.1 400 Bad Request
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic_400' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic_422' %>
```

> HTML Request

```http
PATCH <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Content-Type: text/html
```

```html
<%= api_request 'topics/patch_topic', :html %>
```

> Success response

```http
HTTP/1.1 204 No Content
```

This endpoint updates a topic. Request body media type (`Content-Type` header) determines what kind of data you update: `application/vnd.api+json` updates topic metadata, `text/html` updates the topic's contents.


**Request parameters**

See <a href="#create-a-topic">Create a topic</a>.

## Delete a topic

> Request

```http
DELETE <%= current_page.data.endpoint %>topics/1 HTTP/1.1
```

> Success response

```http
HTTP/1.1 204 No Content
Content-Type: application/vnd.api+json
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_user_404' %>
```

This endpoint deletes a topic.
