# Topics API

## Get all topics

This endpoint retrieves all topics.

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data. See <a href="#permission-model">Permission model</a> for more information on topic visibility.
</aside>

**Response attributes**

See [Get a topic](#get-a-topic).

> Request

```http
GET <%= current_page.data.endpoint %>topics HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
```

> Response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topics' %>
```

## Create a topic

This endpoint creates a topic.

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`title`         | <span class="badge badge-danger">required</span> | String | Name of the topic, does not have to be unique
`rootContentItemId` | <span class="badge badge-danger">required</span> | String | Root content item identifier
`description`   | | String | Description of the topic
`state`         | | String | Access level (See [Permission model](#permission-model)), defaults to `public_access`

<aside class="warning">
  Always include the <code>user</code> relationship, or you will get a HTTP 403 Forbidden response.
</aside>
<aside class="warning">
  This is a protected endpoint. A valid API token should be present in the <code>Authorization</code> header.
</aside>
<aside class="notice">
  The <code>rootContentItemId</code> has to be provided upon creation. This attribute cannot be changed later. Every time a topic
  's <a href="#update-topic-content">content is updated</a>, the root content item identifier in the content payload is validated against the <code>rootContentItemId</code> in the database.
</aside>

> Request

```http
POST <%= current_page.data.endpoint %>topics HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_request 'topics/post_topics' %>
```

> Success response

```http
HTTP/1.1 201 Created
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics_422' %>
```

> Failure response

```http
HTTP/1.1 400 Bad Request
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics_400' %>
```

## Get a topic

This endpoint retrieves a topic.

**Response attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`title`         |     | String | Topic name
`state`         |     | String | Access level, see [Permission model](#permission-model) for more information
`rootContentItemId` | | String | Root content item identifier
`description`   | <span class="badge badge-info">optional</span> | String | Topic description

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data. See <a href="#permission-model">Permission model</a> for more information on topic visibility.
</aside>

> JSON Request

```http
GET <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic' %>
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic_404' %>
```

## Update a topic

This endpoint updates a topic.

**Request attributes**

See [Create a topic](#create-a-topic).

<aside class="warning">
  This is a protected endpoint. A valid API token should be present in the <code>Authorization</code> header.
</aside>
<aside class="notice">
  The <code>rootContentItemId</code> is immutable and cannot be updated.
</aside>

> JSON Request

```http
PATCH <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_request 'topics/patch_topic' %>
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic' %>
```

> Failure response

```http
HTTP/1.1 400 Bad Request
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic_400' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic_422' %>
```

> Success response

```http
HTTP/1.1 204 No Content
```

## Delete a topic

This endpoint deletes a user.

<aside class="warning">
  This is a protected endpoint. A valid API token should be present in the <code>Authorization</code> header.
</aside>

> Request

```http
DELETE <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
Authorization: Bearer TOKEN
```

> Success response

```http
HTTP/1.1 204 No Content
Content-Type: application/vnd.api+json
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_user_404' %>
```

## Get topic content

This endpoint retrieves a topic's content structure.

**Response attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`content`       |     | String | Topic content structure

> JSON Request

```http
GET <%= current_page.data.endpoint %>topics/1/content HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic_content' %>
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic_content_404' %>
```

## Update topic content

This endpoint updates a topic's content structure.

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`content`       | <span class="badge badge-danger">required</span> | String | Topic content structure

<aside class="warning">
  Updating a topic's content structure replaces the entire contents. Partial updates are not yet implemented.
</aside>
<aside class="warning">
  This is a protected endpoint. A valid API token should be present in the <code>Authorization</code> header.
</aside>

> Request

```http
POST <%= current_page.data.endpoint %>topics/1/content HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version=<%= current_page.data.version %>
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_request 'topics/patch_topic_content' %>
```

> Success response

```http
HTTP/1.1 204 OK
Content-Type: application/vnd.api+json
```
