# Topics API

## Get all topics

This endpoint retrieves all topics.

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data. See <a href="#permission-model">Permission model</a> for more information on topic visibility.
</aside>

**Response attributes**

See [Get a topic](#get-a-topic).

> Request

```http
GET <%= current_page.data.endpoint %>topics HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
```

> Response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topics' %>
```

## Create a topic

This endpoint creates a topic.

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`title`         | <%= required %> | String | Name of the topic, does not have to be unique (max 100 characters)
`rootContentItemId` | <%= required %> | String | Root content item identifier
`description`   | | String | Description of the topic
`access`        | | String | Access level (See [Permission model](#permission-model)), defaults to `public`

<aside class="warning">
  Always include the <code>user</code> relationship, or you will get a HTTP 403 Forbidden response.
</aside>
<aside class="warning">
  This is a protected endpoint. A valid access token should be present in the <code>Authorization</code> header.
</aside>
<aside class="notice">
  The <code>rootContentItemId</code> has to be provided upon creation. This attribute cannot be changed later. Every time a topic
  's <a href="#update-topic-content">content is updated</a>, the root content item identifier in the content payload is validated against the <code>rootContentItemId</code> in the database.
</aside>

> Request

```http
POST <%= current_page.data.endpoint %>topics HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_request 'topics/post_topics' %>
```

> Success response

```http
HTTP/1.1 201 Created
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics_422' %>
```

> Failure response

```http
HTTP/1.1 400 Bad Request
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topics_400' %>
```

## Get a topic

This endpoint retrieves a topic.

**Response attributes**

Attribute       |                 | Type   | Description
--------------- | --------------- | ------ | -----------
`title`         |                 | String | Topic name
`state`         |                 | String | Access level, see [Permission model](#permission-model) for more information
`rootContentItemId` |             | String | Root content item identifier
`description`   | <%= optional %> | String | Topic description
`createdAt`     |                 | Integer| Timestamp of creation **This attribute is included in the `meta` section.**
`updatedAt`     |                 | Integer| Timestamp of last change **This attribute is included in the `meta` section.**
`hasOpenPullRequest` |            | Boolean| Whether or not there is an open outgoing pull request

**Response relationships**

Relationship    |                        | Type                     | Plurality | Description
--------------- | ---------------------- | ------------------------ | --------- | -----------
`upstream`      | <%= optional %>        | <code>Topic</code>       | 0..1      | Upstream (original) topic
`forks`         | <%= optional %>        | <code>Topic</code>       | 0..n      | Downstream forks (personal copies)
`incomingPullRequests` | <%= optional %> | <code>PullRequest</code> | 0..n      | Incoming pull requests (topic is target)
`outgoingPullRequests` | <%= optional %> | <code>PullRequest</code> | 0..n      | Outgoing pull requests (topic is source, upstream must be non-empty)

<aside class="notice">
  When the <code>upstream</code> relationship is non-empty, the topic is forked from another topic. Topics can never be forked from forks, implying that <code>upstream</code> relationships will never lead to topics with non-empty <code>upstream</code> relationships. Additionally, the <code>forks</code> relationship will <strong>always</strong> be empty in forked topics. See also <a href="#fork-a-topic">Forking a topic</a>
</aside>

<aside class="notice">
  Every topic has both incoming and outgoing pull requests. However, only one of these relationships can be non-empty. If the topic is a fork, only the <code>outgoingPullRequests</code> can be non-empty, if the topic is an upstream only the <code>incomingPullRequests</code> can be non-empty. At most one of the outgoing pull requests can have the state of <code>open</code>, the others must be either <code>accepted</code> or <code>rejected</code>.
</aside>

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data. See <a href="#permission-model">Permission model</a> for more information on topic visibility.
</aside>

> JSON Request

```http
GET <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic' %>
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic_404' %>
```

## Update a topic

This endpoint updates a topic.

**Request attributes**

See [Create a topic](#create-a-topic).

<aside class="warning">
  This is a protected endpoint. A valid access token should be present in the <code>Authorization</code> header.
</aside>
<aside class="notice">
  The <code>rootContentItemId</code> is immutable and cannot be updated.
</aside>

> JSON Request

```http
PATCH <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_request 'topics/patch_topic' %>
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic' %>
```

> Failure response

```http
HTTP/1.1 400 Bad Request
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic_400' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic_422' %>
```

> Success response

```http
HTTP/1.1 204 No Content
```

## Delete a topic

This endpoint deletes a user.

<aside class="warning">
  This is a protected endpoint. A valid access token should be present in the <code>Authorization</code> header.
</aside>

> Request

```http
DELETE <%= current_page.data.endpoint %>topics/1 HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
Authorization: Bearer TOKEN
```

> Success response

```http
HTTP/1.1 204 No Content
Content-Type: application/vnd.api+json
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_user_404' %>
```

## Get topic content

This endpoint retrieves a topic's content structure.

**Response attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`content`       |     | String | Topic content structure

> JSON Request

```http
GET <%= current_page.data.endpoint %>topics/1/content HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic_content' %>
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/get_topic_content_404' %>
```

## Update topic content

This endpoint updates a topic's content structure.

**Request attributes**

Attribute       |                 | Type   | Description
--------------- | --------------- | ------ | -----------
`content`       | <%= required %> | Array  | Topic content structure; array of denormalized content items
`message`       | <%= required %> | String | Commit message

<aside class="warning">
  Updating a topic's content structure replaces the entire contents. Partial updates are not yet implemented.
</aside>
<aside class="warning">
  This is a protected endpoint. A valid access token should be present in the <code>Authorization</code> header.
</aside>
<aside class="notice">
  The root content item's identifier has to match the <code>rootContentItemId</code> in the database, provided when <a href="#create-a-topic">creating a topic</a>.
</aside>

> Request

```http
PATCH <%= current_page.data.endpoint %>topics/1/content HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_request 'topics/patch_topic_content' %>
```

> Success response

```http
HTTP/1.1 204 OK
Content-Type: application/vnd.api+json
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/patch_topic_content_422' %>
```

## Fork a topic

This endpoint creates a duplicate of the topic, **under the current user's account**

<aside class="warning">
  This is a protected endpoint. A valid access token should be present in the <code>Authorization</code> header.
</aside>

> Request

```http
POST <%= current_page.data.endpoint %>topics/1/fork HTTP/1.1
Accept: application/vnd.api+json, application/vnd.openwebslides+json; version="<%= current_page.data.request_version %>"
Authorization: Bearer TOKEN
```

> Success response

```http
HTTP/1.1 201 Created
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topic_fork' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'topics/post_topic_fork_422' %>
```
