# Users API

## Get all users

This endpoint retrieves all users.

**Response attributes**

See [Get a user](#get-a-user).

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data.
</aside>

> Request

```http
GET <%= current_page.data.endpoint %>users HTTP/1.1
Accept: application/vnd.api+json
Authorization: Bearer TOKEN
```
> Response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_users' %>
```

## Create a user

This endpoint creates a user.
An account has to be confirmed using the [Confirmation API](#confirmation-api) in order to obtain a token.

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`email`         | <span class="badge badge-danger">required</span> | String | Email, must not be already taken
`name`          | <span class="badge badge-danger">required</span> | String | Full name
`password`      | <span class="badge badge-danger">required</span> | String | Password, must be at least 6 characters
`tosAccepted`   | <span class="badge badge-danger">required</span> | String | User has explicitly accepted terms of service, must be `true`

> Request

```http
POST <%= current_page.data.endpoint %>users HTTP/1.1
Content-Type: application/vnd.api+json
```

```json
<%= api_request 'users/post_users' %>
```

> Success response

```http
HTTP/1.1 201 Created
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/post_users' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/post_users_422' %>
```

## Get a user

This endpoint retrieves a user.

**Response attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`name`          |     | String | Full name
`email`         | <span class="badge badge-info">optional</span> | String | Email (only visible when the request is authenticated by the user equal to the requested resource)
`gravatarHash`  |     | String | MD5 hash for Gravatar service
`locale`        | <span class="badge badge-info">optional</span> | String | Locale (only visible when the request is authenticated by the user equal to the requested resource)

<aside class="notice">
  This endpoint does not require authentication. However, authenticated requests might receive different data.
</aside>

> Request

```http
GET <%= current_page.data.endpoint %>users/1 HTTP/1.1
Accept: application/vnd.api+json
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_user' %>
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_user_404' %>
```

## Update a user

This endpoint updates a user.

**Request attributes**

Attribute       |     | Type | Description
--------------- | --- | ---- | -----------
`name`          | | String | Full name
`locale`        | | String | Locale
`password`      | | String | Password, must be at least 6 characters

<aside class="warning">
  This is a protected endpoint. A valid API token should be present in the <code>Authorization</code> header.
</aside>

> Request

```http
PATCH <%= current_page.data.endpoint %>users/1 HTTP/1.1
Content-Type: application/vnd.api+json
Authorization: Bearer TOKEN
```

```json
<%= api_request 'users/patch_user' %>
```

> Success response

```http
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/patch_user' %>
```

> Failure response

```http
HTTP/1.1 400 Bad Request
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/patch_user_400' %>
```

> Failure response

```http
HTTP/1.1 422 Unprocessable Entity
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/patch_user_422' %>
```

## Delete a user

This endpoint deletes a user.

<aside class="warning">
  This is a protected endpoint. A valid API token should be present in the <code>Authorization</code> header.
</aside>

> Request

```http
DELETE <%= current_page.data.endpoint %>users/1 HTTP/1.1
Authorization: Bearer TOKEN
```

> Success response

```http
HTTP/1.1 204 No Content
Content-Type: application/vnd.api+json
```

> Failure response

```http
HTTP/1.1 404 Not Found
Content-Type: application/vnd.api+json
```

```json
<%= api_response 'users/get_user_404' %>
```
